<html>

    <title>Dashboard</title>
  </head>
  <body>

  <!--   <h1>Today's Plans</h1>

   
      {% for planned_patient in today_plans %}

      <br>

      {% endfor %}
    <table>
 -->
    <!--   <tbody><tr>
        <th>Name</th>
        <th>MR No.</th>

      </tr><tr>
        <td>{{ planned_patient.name }}</td>
        <td>{{ planned_patient.mr_no }}</td>

       
      </tr></tbody></table>

    <br>
 -->
    <h1>All Patients</h1>

  <a href="{% url 'get_patient' %}"> Add New Patient</a>
  <a href="{% url 'new-line' %}"> Add New Line</a>
  <a href="{% url 'new-plan' %}"> Add New Plan</a>

  
     <table>

      <tbody><tr>
        <th>Name</th>
        <th>MR No.</th>
        <th>Line Type</th>
        <th>Change Due Date</th>
      </tr>
      {% for line in all_lines %}
   
      <tr>
        <td>{{ line.patient }}</td>
        <td>{{ line.patient.mr_no }}</td>

        <td>{{ line.line_name }}</td>
        <td> {{ line.due_date }} </td>

       
      </tr>
      
      {% endfor %}
      
      </tbody></table>

    <br>






</body></html>

